.item {
    box-shadow: var(--main-sm-shadow);
    padding: var(--main-gap);
    background-color: var(--element-background);
}

.imgWrapper{
    height: 130px;
    overflow: hidden;
    position: relative;
}

.img {
    max-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.price {
    margin: var(--main-gap) 0;
    text-align: right;
    font-size: 1.5rem;
}