.mainHeader {
    background-color: var(--element-background);
    padding: var(--main-gap);
    box-shadow: var(--main-sm-shadow);
    margin-bottom: 20px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    max-width: var(--full-width);
    margin: 0 auto;
}

.leftMenu, .rightMenu {
    flex: 1 1 auto;
}

.rightMenu {
    display: flex;
    justify-content: flex-end;
}

.rightMenu > div {
    display: inline-block;
    margin-left: var(--main-gap);
}